div {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly ;
}
h1 {
    margin: 0px;
    color:#CDD1C4;
}
form {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #30323dd5;
    align-items: center;
    border-radius: 30px;
}
input {
    border-color:#CDD1C4;
    border-radius: 10px;
    width: 30vw;
    height: 6vh;
}
img{
    width: 15vw;
    background-color: #CDD1C4;
    border-radius: 60px;
}
button {
    border-radius: 10px;
    background-color: #30323d98;
    color:#CDD1C4;
    width: 20vw;
    height: 6vh;
}
